
{% block content %}
    <!-- see https://stripe.com/docs/stripe-js/reference#element-types -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://js.stripe.com/v3/"></script>
    <style>
        .qgis_stripe_form {
            max-width: 500px;
            font-size: .9rem;
        }
        .qgis_stripe_form img{
            width:auto;
            max-width: 100%;
        }
        .qgis_stripe_form input{
            width:95%;
            margin-top: 3px;
        }
        .qgis_stripe_form select{
            margin-top: 3px;
            width:98%;
            background: #ffffff none repeat scroll 0 0;
            border: 1px solid #9da3a6;
            border-radius: 5px;
            padding: 5px;
            transition: border-color 0.15s ease 0s;
        }
        #submit-button {
            margin-top: 10px;
            display: block;
            background: #666ee8;
            color: #fff;
            box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            border: 0;
            font-weight: 700;
            width: 100%;
            height: 40px;
            outline: none;
            cursor: pointer;
            transition: all 0.15s ease;
        }
        #submit-button:hover {
            transform: translateY(-1px);
            box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
        }
        #submit-button:disabled, #submit-button[disabled] {
            cursor: not-allowed;
            transform: translateY(0);
            box-shadow: none;
            background: #d1d4ff;
        }
        #stripeErrorMessage {
            color: #d61313;
            background-color: #fff5f5;
            padding: 5px;
            border: 1px solid #ffa7a7;
            border-radius: 4px;
            font-size: 10pt;
            margin-top: 10px;
            margin-right: 10px;
            display: none;
        }
    </style>
    <div class="qgis_stripe_form">
        {% if 'test' in key %}
            <h2 style="background-color:red;">- - - USING TEST KEYS!! - - -</h2>
        {% endif %}
    </div>
    <div class="qgis_stripe_form">
        <img src="https://www.qgis.org/en/_static/logo.png"/>
        <div id="stripeErrorMessage"></div>
        <div class="form-row" style="padding-top: 5px; padding-bottom: 10px;">
            <div class="smalltext">Donation Amount</div>
            <select name="amount" data-tid="qgis.amount" id="donationAmount">
                <!-- NOTE: amount value is in CENTS !!!-->
                <option value="eur:1000" selected>€ 10.00</option>
                <option value="eur:2500">€ 25.00</option>
                <option value="eur:5000">€ 50.00</option>
                <option value="eur:10000">€ 100.00</option>
                <option value="eur:25000">€ 250.00 (contact finance@qgis.org
                    for
                    higher amounts)
                </option>
                <option value="usd:1000">$ 10.00</option>
                <option value="usd:2500">$ 25.00</option>
                <option value="usd:5000">$ 50.00</option>
                <option value="usd:10000">$ 100.00</option>
                <option value="usd:25000">$ 250.00 (contact finance@qgis.org
                    for
                    higher amounts)
                </option>
            </select>
        </div>
        <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"
             data-callback="enableSubmitBtn"></div>
        <button id="submit-button" disabled>Checkout</button>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer></script>
    <script>
        let stripe = Stripe('{{ key }}');
        let elements = stripe.elements();
        let recaptchaToken = null;

        (function () {
            setTimeout(function () {
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const success = urlParams.get('payment_success')
                if (success && success === 'True') {
                    window.history.pushState("object or string", "Title", '{{ donation_url }}');
                    document.getElementById('thankyou').style.display = 'block';
                }
            }, 500)
        })();

        let checkoutButton = document.getElementById('submit-button');

        checkoutButton.addEventListener('click', function () {
            if (!isCaptchaChecked) {
                return;
            }
            let donationAmountSelect = document.getElementById("donationAmount");
            let donationValue = donationAmountSelect.value.split(':');
            let donationCurrency = donationValue[0];
            let donationAmount = donationValue[1];
            const postData = {
                donationCurrency: donationCurrency,
                donationAmount: donationAmount,
                recaptchaToken: recaptchaToken
            }

            fetch('{{ stripecheckouturl }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(postData)
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.json();
                    } else {
                        document.getElementById('stripeErrorMessage').style.display = 'block';
                        document.getElementById('stripeErrorMessage').innerHTML = response.statusText;
                    }
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({sessionId: session.id});
                })
                .then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        document.getElementById('stripeErrorMessage').style.display = 'block';
                        document.getElementById('stripeErrorMessage').innerHTML = result.error.message;
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        });

        function enableSubmitBtn(response){
            document.getElementById("submit-button").disabled = false;
            recaptchaToken = response;
        }

        function isCaptchaChecked() {
            return grecaptcha && grecaptcha.getResponse().length !== 0 && recaptchaToken;
        }

    </script>

{% endblock %}
